/* Configurações de estilo do site */

/* Fonts Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Variaveis CSS */
:root {
	--color-red: #D6000D;
	--roboto-fonts: 'Roboto', sans-serif;
}

html,
body,
address, ul li, p {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: auto;
}

.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.navbar-logotipo {
	display: inline-block;
	margin: 10px 20px;
	font-family: var(--roboto-fonts);
	font-size: 48px;
	font-weight: 600;
	text-transform: capitalize;
	color: var(--color-red);
	font-style: italic;
}

.logo-point {
	font-size: 50px;
	font-weight: 500;
	color: black;
	padding: 0 1px;
	border-radius: 50px;
}

.navbar-links {
	display: inline-block;
	position: absolute;
	left: auto;
	right: 300px;
}

.navbar-links li {
	display: inline-block;
	margin: auto 15px;
	padding: auto;
	font-family: var(--roboto-fonts);
	font-size: 28px;
	text-transform: capitalize;
	font-weight: 500;
	color: #000;
	text-align: center;
	list-style: none;
}

.navbar-links li a {
	text-decoration: none;
	color: black;
}

button[name="login"] {
	font-family: var(--roboto-fonts);
	font-size: 20px;
	text-transform: Capitalize;
	text-align: center;
	font-weight: 600;
	margin: auto 10px;
	padding: 15px 100px;
	background: var(--color-red);
	border: none;
	border-radius: 20px;
	color: white;
}

.container-section {
	display: block;
	margin: 8rem auto;
	text-align: center;
}

.box-image {
	display: inline-block;
	margin: auto 75px;
}

.box-image img {
	position: relative;
	top: -30px;
	width: 512px;
	height: auto;
}

.box-description {
	display: inline-block;
	padding: 20px;
	margin: auto 75px;
	position: relative;
	top: -100px;
	line-height: 40px;
}

@media(max-width: 578px) {
	.box-description {
		position: relative;
		top: auto;
	}
}

.box-h2 {
	margin: auto;
}

.box-h2 h2 {
	font-family: var(--roboto-fonts);
	font-size: 30px;
	font-weight: 600;
	text-align: initial;
}

.box-h2-lg {
	margin-top: auto;
	margin-bottom: 75px;
	padding: auto;
}

.box-h2-lg h2 {
	display: inline;
	font-family: var(--roboto-fonts);
	font-size: 60px;
	font-weight: 600;
	letter-spacing: .4px;
	text-align: initial;
	color: var(--color-red);
}

button[name="solicitar orcamento"] {
	display: block;
	font-family: var(--roboto-fonts);
	font-size: 22px;
	text-transform: Capitalize;
	text-align: center;
	font-weight: 600;
	margin: auto 8px;
	padding: 15px 20px;
	width: 250px;
	background: var(--color-red);
	border: none;
	border-radius: 5px;
	color: white;
}

button[name="solicitar orcamento"]:hover {
	transform: scale(1.1);
	transition: .4s ease-in-out;
}

.lists {
	display: inline-block;
	margin: auto 25px;
}

.lists li {
	list-style: url(./assets/img/checklist-36x36.png);
	font-family: var(--roboto-fonts);
	font-size: 30px;
	font-weight: 500;
	text-align: initial;
	padding: auto 10px;
	color: black;
}

.box-input {
	display: block;
	margin: 100px 25px;
}

.box-input h3 {
	font-family: var(--roboto-fonts);
	font-size: 28px;
	font-weight: 600;
	text-align: initial;
	color: black;
	margin: 5px auto;
}

input[placeholder] {
	padding: 20px 18px;
	font-family: var(--roboto-fonts);
	font-size: 18px;
	color: grey;
	border-radius: 5px;
	border: none;
	background: #f1f1f1;
}

/* Propriedade diminui ou modifica, exclui as bordas da tag input depois de receber foco. */
input:focus {
	outline: 1px solid grey;
}

button[name="ligamos para voce"] {
	display: inline-block;
	font-family: var(--roboto-fonts);
	font-size: 20px;
	text-transform: Capitalize;
	text-align: center;
	font-weight: 500;
	margin: auto 8px;
	padding: 15px 20px;
	width: 250px;
	background: var(--color-red);
	border: none;
	border-radius: 5px;
	color: white;
}

button[name="ligamos para voce"]:hover {
	transform: scale(1.02);
	transition: .4s ease-in-out;
}

.cards {
	display: inline-flex;
	background: #DCDCDC;
	padding: 20px 10px;
	margin: 10px 8px;
	border-radius: 5px;
	width: 570px;
	height: 230px;
}

.circle {
	display: block;
	position: absolute;
	background: var(--color-red);
	padding: 50px;
	margin: 5px;
	border-radius: 50px;
}

.cards-text {
	display: block;
	margin-right: 10px;
	margin-left: auto;
	text-align: initial;
	padding: 10px;
	width: 390px;
}

.cards-text p {
	font-family: var(--roboto-fonts);
	font-size: 26px;
	font-weight: 400;
	color: black;
}

.cards-information {
	display: block;
	padding: 20px 10px;
	margin: 10px auto;
}

.cards-information h4 {
	display: block;
	font-family: var(--roboto-fonts);
	font-size: 30px;
	font-weight: 600;
	color: black;
	text-align: initial;
	line-height: 5px;
	margin: 10px auto;
}

cite {
	font-family: var(--roboto-fonts);
	font-size: 20px;
	font-weight: 600;
	color: black;
	text-transform: capitalize;
	font-style: normal;
}

.footer-container {
	display: flex;
	flex-grow: row wrap;
	justify-content: space-between;
	background: black;
	padding: 20px;
}

.column-one {
	display: block;
	margin: 8px 5px;
}

.column-one h1 {
	font-family: var(--roboto-fonts);
	font-size: 48px;
	font-weight: 600;
	font-style: italic;
	text-align: initial;
	color: white;
	margin: auto;
}

.column-one span {
	font-family: var(--roboto-fonts);
	font-size: 20px;
	font-weight: 500;
	text-align: initial;
	color: white;
	margin: 5px auto;
}

.column-one h3 {
	font-family: var(--roboto-fonts);
	font-size: 30px;
	font-weight: 600;
	text-align: initial;
	color: white;
	margin: 5px auto;
}

.column-one address {
	font-family: var(--roboto-fonts);
	font-size: 18px;
	font-weight: 400;
	color: white;
	text-align: initial;
}

.column-one .img-one {
	display: inline-block;
	margin: auto 5px;
	padding: 4px;
}

.img-one img {
	width: 30px;
	height: auto;
}

.img-one a {
	text-decoration: none;
	color: white;
}